# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
      
    - name: compile the source code of the project
      run: mvn compile --file DebtMasterServer/pom.xml
      
    - name: test the compiled source code using a suitable unit testing framework.
      run: mvn test --file DebtMasterServer/pom.xml
      
    - name: validate the project
      run: mvn package --file DebtMasterServer/pom.xml
      
    - name: run any checks on results of integration tests to ensure quality criteria are met
      run: mvn verify --file DebtMasterServer/pom.xml
      
    - name: Build with Maven
      run: mvn -B package --file DebtMasterServer/pom.xml
